/* CSS stylesheet for html file */

header img {
  max-width: 100%;
  height: auto;
  /*margin-bottom: 5px; /* reduced from 20px */
  /*padding: 0; /* ensure no extra padding */
}



html, body {
  margin: 0;
  padding: 0;
}


header {
  width: 100vw; /* 100% of viewport width */
}

